  <header>
    <section class="view intro ">
      <div class="split left">
  
        <div class="centered">
  
          <div class="hex">
            <h3 class="text-center">Hi</h3>
          </div>
          <!-- <div class="centered">
          <h3>HI Column Merchant</h3>
        </div> -->
          <h3 class="text-centered">Hi Column Merchant</h3>
        </div>
  
  
      </div>
      <div class="split2 right">
  
        <div class="container flex-center">
          <div class="row">
            <div>
              <div class="wow fadeIn mb-3" data-wow-delay="0.3s"
                style="animation-name: none; visibility: visible;">
                <form #form=ngForm (submit)="reset()">
                  <div class="login-style">
  
                    <div class="pb-15">
                      <p class="img-fluid mx-auto text-center">Reset Password</p>
                    </div>
                    <form [formGroup]="userDetails">
                      <div class="md-form mb-1">
                        <input ngDefaultControl type="text" id="orangeForm-email" formControlName="email" class="form-control" placeholder="Email Address">
                        <span class="text-danger">{{errors.email_detail}} {{errors.email}}</span>
                      </div>
                    </form>

                    <div class="text-left mt-2 float-right mb-5"><a routerLink="/login"
                        class="nav-link d-inline text-ud">Back to Login</a></div>
  
  
  
                    <div class="text-center pb-30">
                      <button
                        class="btn btn-style d-block w-100 waves-effect waves-light"
                        mdbWavesEffect>
                        Reset
                        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                      </button>
  
                    </div>
  
                  </div>
                </form>
              </div>
  
            </div>
          </div>
        </div>
  
      </div>
  
    </section>
  
  </header>