
.intro-2 {
    background-color: #ffffff;
    background-size: cover;
}

.card {
    background: linear-gradient(360deg, #e7e4e447 20%, rgba(63, 114, 155, 0) 80%) !important;
}

.md-form label {
    color: #ffffff;
}

.intro {
    min-height: 100vh;
    position: relative;
}


input {
    background-color: #ffffff9e !important;
}

.md-form .form-control {
    padding: 0.375rem 0.75rem !important;
}

.new-style-font {
    font-weight: 500;
    color: #fff;
    font-size: 36px;
}

.white-skin .navbar {
    display: none !important
}

.btn-style {
    border-radius: unset !important;
    margin: 0 !important;
    font-weight: 500;
    font-size: 20px;
    text-transform: unset;
}

.pb-15 {
    padding-bottom: 15%
}

.pb-30 {
    padding-bottom: 30%
}
