<div [id]='receiptData?receiptData._id:""'>
    <div class="invoice-box" id='hello'>
        <table class="no-border" cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table class="no-border">
                        <tr>
                            <td class="title">
                                <!-- <img src="../../../../assets/img/products/ikeja_black.bmp"
                                                style="max-width:160px; height:50px"> -->
                                <img src="{{name}}">

                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="receipt-title">
                <td colspan="2">
                    <table class="no-border">
                        <tr>
                            <td style="text-align:center">
                                {{receiptData.merchant_name}}
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center">
                                {{receiptData.merchant_address}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <table class="no-border">
                        <tr>
                            <td>
                                {{receiptData.mid}}
                            </td>
                            <td>
                                {{receiptData.terminal_id}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr class="seperatord">
                <td colspan="2">

                </td>
            </tr>
            <tr class="receipt-title">
                <td colspan="2">
                    <table class="no-border" style="text-align:center">
                        <tr>
                            <td>
                                {{receiptData.VASCustomerPackageName || receiptData.vasCategory | uppercase}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                ***CUSTOMER COPY***
                            </td>
                        </tr>
                        <tr>
                            <td *ngIf="receiptData.error == false">
                                APPROVED
                            </td>
                            <td *ngIf="receiptData.error == true">
                                DECLINED
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <br>
            <tr class="details">
                <td>
                    TID
                </td>

                <td>
                    {{receiptData.terminal_id}}
                </td>
            </tr>
            <tr class="details" *ngIf="receiptData.wallet">
                <td>
                    WID
                </td>

                <td>
                    {{receiptData.wallet}}
                </td>
            </tr>
            <tr class="details">
                <td colspan="2">
                    <span>REF</span>
                    <span class="ref"> {{receiptData.reference}}</span>
                </td>


            </tr>
            <tr class="details">
                <td>
                    RECIPIENT
                </td>

                <td *ngIf="smile">
                    {{receiptData.VASCustomerName}}
                </td>
                <td *ngIf="!smile">
                    {{receiptData.recipient}}
                </td>
            </tr>
            <tr class="details noWrap">
                <td>
                    PAYMENT METHOD
                </td>

                <td>
                    {{receiptData.payment}}
                </td>
            </tr>
            <tr *ngIf="receiptData.transactionID">
                <td class="noWrap">
                    TRANS SEQ
                </td>

                <td>
                    {{receiptData.transactionID}}
                </td>
            </tr>
            <br>
            <tr class="details" *ngIf="receiptData.cardName">
                <td>
                    CARD NAME
                </td>

                <td>
                    {{receiptData.cardName}}
                </td>
            </tr>
            <tr class="details">
                <td>
                    PAN
                </td>

                <td>
                    {{receiptData.mPan}}
                </td>
            </tr>
            <tr *ngIf="receiptData.aid" class="details">
                <td>
                    AID
                </td>

                <td>
                    {{receiptData.aid}}
                </td>
            </tr>
            <tr class="details">
                <td>
                    LABEL
                </td>

                <td>
                    {{receiptData.label}}
                </td>
            </tr>
            <tr *ngIf="receiptData.expiryDate" class="details">
                <td>
                    EXPIRY
                </td>

                <td>
                    {{receiptData.expiryDate}}
                </td>
            </tr>
            <br>
            <tr class="details">
                <td>
                    STAN
                </td>

                <td>
                    {{receiptData.stan}}
                </td>
            </tr>
            <tr class="details">
                <td>
                    CREF
                </td>

                <td>
                    {{receiptData.rrn}}
                </td>
            </tr>
            <tr class="details">
                <td>
                    RESP CODE
                </td>

                <td>
                    {{receiptData.resp}}
                </td>
            </tr>
            <tr class="details">
                <td>
                    AUTH ID
                </td>

                <td>
                    {{receiptData.acode}}
                </td>
            </tr>
            <tr *ngIf="receiptData.product == 'multichoice' && receiptData.iuc" class="details">
                <td>
                    IUC
                </td>

                <td>
                    {{receiptData.iuc}}
                </td>
            </tr>
            <tr *ngIf="receiptData.product == 'STARTIMES'" class="details">
                <td>
                    SMARTCARD
                </td>

                <td>
                    {{receiptData.smartcard}}
                </td>
            </tr>
            <br *ngIf="receiptData.product == 'TV'">
            <tr class="details">
                <td>
                    DATE
                </td>

                <td>
                    {{(receiptData.date || receiptData.datetime) | date : 'yyyy-MM-dd HH:mm:ss' }}
                </td>
            </tr>

            <tr class="receipt-title">
                <td colspan="3">
                    <table class="no-border" style="text-align:center">
                        <tr>
                            <td style="text-align:center">
                                ****************
                                <br>
                                N {{receiptData.amount / 100 | number : '1.2-2'}}
                                <br>
                                ****************
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
            <tr class="receipt-title">
                <td style="text-align:center" colspan="2">
                    {{receiptData.status_message}}
                </td>
            </tr>

            <tr class="seperatorb">
                <td colspan="2">

                </td>
            </tr>
            <tr class="receipt-title">
                <td colspan="3">
                    <table class="no-border" style="text-align:center">
                        <tr>
                            <td style="text-align:center">
                                <br>
                                <p>Tamslite {{receiptData.version}}</p>
                                <p>POWERED BY ITEX</p>
                                <p>www.iisysgroup.com</p>
                                <p>0700-2255-4839</p>
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

<div *ngIf="isAll == false">
    <button type="button" class="btn btn-ud btn-sm waves-light" (click)="printTicket($event,receiptData._id)"
        mdbWavesEffect>Print | Export</button>
</div>