
.smaller-width {  
    margin-right: 24px;
    margin-left: 24px;
}

.md-tabs .nav-link {
    padding: 0.2rem 1rem !important;
}
// .vertical-tabs.md-tabs {
//     flex-direction: column !important;
// }

// .md-tabs .flex-column .nav-link {
//     padding: 0.5rem !important;
// }
// .time-style {
//     background-color: white;
//     display: inline-flex;
//     border: 1px solid #ccc;
//     color: #555;
//   }

// .time-custom {
//     border: none;
//     color: #555;
//     text-align: center;
//     width: 60px;
//   }

.semi-style {
    font-weight: 600px !important;
    font-size: 24px !important;
    margin: 0 !important;
}

.p-style {
    font-weight: 501 !important;
    padding-bottom: 10px;
    padding-left: 17px;
}

.mt-less {
    margin-top: -2rem !important;
}

.switch label input[type=checkbox]:checked + .lever:after {
    background-color: #00C851 !important;
}

.switch label input[type=checkbox]:checked + .lever {
    background-color: #07cc5782 !important;
}

.form-control.no-change:not(disabled), .custom-select.no-change{
    background-color: #f8f9fa !important;
}


.form-control.no-change:disabled {
    background-color: #e9ecef !important;
    opacity: 1;
}

.custom-select.no-change{
    border: 1px solid #ced4da !important;
}

// table td, td{
//     padding-left: 15px !important;
//     padding-right: 15px !important;
// }