<div class="col-lg-12 col-md-12">
  <div class="row">
    <div class="ml-2">
      <!-- <button type="button" class="btn btn-elegant btn-sm waves-light" data-toggle="modal" data-target="#search"
            (click)="search.show()" mdbWavesEffect>ADVANCED SEARCH</button> -->

      <button [disabled]="!settlementSummaryRecords.length" type="button" class="btn btn-uc btn-sm waves-light"
        (click)="exportExcel('settlementSummary')" mdbWavesEffect>Export</button>
    </div>
  </div>

  <div [ngClass]="{
            'card card-cascade narrower': true,
            'z-depth-0': !shadows,
            'mt-0': true
          }">
    <!--Card image-->
    <div
      class="view view-cascade gradient-card-header blue-gradient narrower py-2 mt-4 mx-4 mb-3 d-flex justify-content-between align-items-center">


      <p class="white-text mx-3">SUMMARY</p>


    </div>
    <!--/Card image-->

    <div class="table-responsive px-4">
      <table class="table table-borderless table2">
        <tr class="row mx-0 no-change">
          <td class="col-lg-1 col-sm-2">
            <button (click)="setType('day')" class="btn btn-uc waves-light btn-sm" mdbWavesEffect>Daily</button>
          </td>
          <td class="col-lg-1 col-sm-2">
            <button (click)="setType('week')" class="btn btn-uc waves-light btn-sm" mdbWavesEffect>Weekly</button>
          </td>
        </tr>
        <tr class="row mx-0 no-change">
          <td *ngIf="day" class="col-lg-2 col-sm-4 datepickers">
            <div class="md-form">
              <p class="noWrap">From:</p>
              <mdb-date-picker ngDefaultControl [(ngModel)]="from" [placeholder]="'yyyy-mm-dd'" required>
              </mdb-date-picker>
            </div>
          </td>
          <td *ngIf="week" class="col-lg-1 col-sm-2">
            <p class="noWrap">Year:</p>
            <select [(ngModel)]="year" class="browser-default custom-select d-block">
              <option *ngFor="let year of years" value="{{year}}">{{year}}</option>
            </select>
          </td>
          <td *ngIf="week" class="col-lg-1 col-sm-2">
            <p class="noWrap">Month:</p>
            <select [(ngModel)]="month" class="browser-default custom-select d-block">
              <option *ngFor="let month of months" value="{{month}}">{{month}}</option>
            </select>
          </td>
          <td class="col-lg-1 col-sm-2">
            <button (click)="getSettlementSummary(); setPage(1);" class="btn btn-uc waves-light btn-sm mt-1-2"
              mdbWavesEffect>Search</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="px-4">
      <div class="table-wrapper">
        <!--Table-->
        <table class="table table-striped table-hover mb-0 border-space ">
          <!--Table head-->
          <thead>
            <tr>
              <th class="th-md">S/N</th>
              <th class="th-md text-center">Action</th>
              <th class="th-md">
                <a (click)="sortBy('date', 'settlementSummary')">Date
                  <i class="fa fa-sort ml-1"></i>
                </a>
              </th>
              <th class="th-md">
                <a (click)="sortBy('total_settlement', 'settlementSummary')">Total Settlement(₦)
                  <i class="fa fa-sort ml-1"></i>
                </a>
              </th>
              <th class="th-md">
                <a (click)="sortBy('total', 'settlementSummary')">Total Amount(₦)
                  <i class="fa fa-sort ml-1"></i>
                </a>
              </th>
              <th class="th-md">
                <a (click)="sortBy('total_charge', 'settlementSummary')">Total Charge(₦)
                  <i class="fa fa-sort ml-1"></i>
                </a>
              </th>
              <th class="th-md">
                <a (click)="sortBy('volume', 'settlementSummary')">Total Volume
                  <i class="fa fa-sort ml-1"></i>
                </a>
              </th>
            </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody *ngIf="settlementSummaryRecords.length > 0">
            <tr  *ngFor="let row of settlementSummaryRecords; let i = index">
              <td>{{ serial + i }}</td>
              <td class="text-center">
                <button class="btn btn-elegant waves-light btn-sm"
                  (click)="setDate(row.year,row.month,row.day); getSettlements(); basicModal.show();"
                  mdbWavesEffect>View
                </button>
              </td>
              <td>{{ row.date }}</td>
              <td>{{ row.total_settlement | number: '1.2-2'}}</td>
              <td>{{ row.total | number: '1.2-2'}}</td>
              <td>{{ row.charge | number: '1.2-2'}}</td>
              <td>{{ row.volume | number: '1.0'}}</td>
            </tr>
          </tbody>
          <!--Table body-->
          <tbody *ngIf="isData == false; else gettingData">
            <tr >
              <td colspan="7" style="text-align:center;padding: 5% 20%">
                <strong>No Data Available</strong>
              </td>
            </tr>
          </tbody>
          <ng-template #gettingData>
            <tbody *ngIf="isData == undefined">
              <tr >
                <td colspan="7" style="text-align:center;padding: 5% 20%">
                  <mdb-spinner spinnerColor="blue"></mdb-spinner>
                </td>
              </tr>
            </tbody>
          </ng-template>
        </table>
        <!--Table-->
      </div>

    </div>

    <hr class="mb-4 mt-0" />

    <app-pagination *ngIf="week && page" [event]="'SettlementSummaryPage'" [page]=page></app-pagination>
  </div>
</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" style=" overflow: auto" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: false}">
  <div class="modal-dialog modal-dialog-scrollable modal-fluid" role="document">
    <div class="modal-content">
      <div class="modal-header2">
        <h4 class="modal-title w-100" id="myModalLabel">SETTLEMENT BREAKDOWN</h4>
        <button type="button" class="close unset-close" aria-label="Close" data-dismiss="modal"
          (click)="basicModal.hide()" mdbWavesEffect>x</button>
      </div>
      <div class="modal-body">
        <div class="ml-2">

          <button [disabled]="!settlementRecords.length" type="button" class="btn btn-uc btn-sm waves-light"
            (click)="exportExcel('settlement')" mdbWavesEffect>Export</button>
        </div>
        <div class="table-responsive px-4">
          <table class="table table-borderless table2">
            <tr class="row mx-0 no-change">
              <td class="col-lg-1 col-sm-2">
                <p class="noWrap">No of Records:</p>
                <select (change)="setLimit2($event); getSettlements();" class="browser-default custom-select d-block">
                  <option value="20">20</option>
                  <option value="50" selected>50</option>
                  <option value="100">100</option>
                  <option value="200">200</option>
                </select>
              </td>
              <td class="col-lg-6 col-sm-10">
                <p>Search:</p>
                <input class="form-control my-0 py-0" name="search" ngDefaultControl [(ngModel)]="search" type="text"
                  placeholder="Search">
              </td>
              <td class="col-sm-1">
                <button (click)="setPage(2); getSettlements();" class="btn btn-uc waves-light btn-sm mt-1-2"
                  mdbWavesEffect>Search</button>
              </td>
            </tr>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-hover mb-0 border-space">

            <!--Table head-->
            <thead>
              <tr>
                <th class="th-md">S/N</th>
                <th class="th-md">
                  <a (click)="sortBy('terminal_id', 'settlement')">Terminal ID
                    <i class="fa fa-sort ml-1"></i>
                  </a>
                </th>
                <th class="th-md">
                  <a (click)="sortBy('rrn', 'settlement')">RRN
                    <i class="fa fa-sort ml-1"></i>
                  </a>
                </th>
                <th class="th-md">
                  <a (click)="sortBy('pan', 'settlement')">Card PAN
                    <i class="fa fa-sort ml-1"></i>
                  </a>
                </th>
                <th class="th-md">
                  <a (click)="sortBy('amount', 'settlement')">Amount (₦)
                    <i class="fa fa-sort ml-1"></i>
                  </a>
                </th>
                <th class="th-md">
                  <a (click)="sortBy('amount', 'settlement')">Settlement (₦)
                    <i class="fa fa-sort ml-1"></i>
                  </a>
                </th>
                <th class="th-md">
                  <a (click)="sortBy('amount', 'settlement')">Charge (₦)
                    <i class="fa fa-sort ml-1"></i>
                  </a>
                </th>
                <th class="th-md">
                  <a (click)="sortBy('stan', 'settlement')">STAN
                    <i class="fa fa-sort ml-1"></i>
                  </a>
                </th>
                <th class="th-md">
                  <a (click)="sortBy('trans_date', 'settlement')">Date
                    <i class="fa fa-sort ml-1"></i>
                  </a>
                </th>
              </tr>
            </thead>
            <!--Table head-->

            <!--Table body-->
            <tbody *ngIf="settlementRecords.length > 0">
              <tr  *ngFor="let row of settlementRecords;let i = index;">

                <td>{{(serialR + i)}}</td>
                <td>{{row.terminal_id}}</td>
                <td>{{row.rrn}}</td>
                <td>{{row.pan}}</td>
                <td>{{row.transaction_amount | number : '1.2-2'}}</td>
                <td>{{row.settlement_amount | number : '1.2-2'}}</td>
                <td>{{row.charge | number : '1.2-2'}}</td>
                <td>{{row.stan}}</td>
                <td>{{row.transaction_date | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
              </tr>
            </tbody>

            <!--Table body-->
            <tbody *ngIf="isDataR == false; else gettingHello">
              <tr >
                <td colspan="10" style="text-align:center;padding: 5% 20%">
                  <strong>No Data Available</strong>
                </td>
              </tr>
            </tbody>
            <ng-template #gettingHello>
              <tbody *ngIf="isDataR == undefined">
                <tr >
                  <td colspan="10" style="text-align:center;padding: 5% 20%">
                    <mdb-spinner spinnerColor="blue"></mdb-spinner>
                  </td>
                </tr>
              </tbody>
            </ng-template>

          </table>
        </div>
        <hr class="my-0" />

        <app-pagination *ngIf="pageR" [event]="'SettlementPage'" [page]=pageR></app-pagination>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-uc btn-sm waves-light" aria-label="Close" data-dismiss="modal"
          (click)="basicModal.hide()" mdbWavesEffect>Close</button>
      </div>
    </div>
  </div>
</div>