.table-wrapper {
    display: block;
    max-height: 186em;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    white-space: nowrap;
}

.blue-gradient {
    background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
    background: linear-gradient(40deg, #45cafc, #4285f4);
}

.table-ui {
    border: 1px solid #e0e0e9;
}


.modal-dialog.cascading-modal.modal-avatar .modal-header2 img {
    width: 130px;
    margin-left: auto;
    margin-right: auto;
}

.modal-dialog.cascading-modal.modal-avatar .modal-header2 {
    margin: -6rem 2rem -1rem 2rem;
}

.separ-upload{
    border-bottom: 1px solid #6d6d6d85;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.unset-close{
    position: unset !important;
    right: unset !important;
}

.widthChange {
    width: 4.6rem !important;
}

.divWidth {
    padding-right: 5.6rem !important;
}

.saveSpace {
    padding-right: 0rem !important;
    padding-left: 0.6rem !important;
}

.capsText {
    text-transform: capitalize;
}

.error-color {
    background-color: #ff444444 !important;
  
  }