<!--Double navigation-->
<header>

    <!-- Sidebar navigation -->
    <mdb-sidenav #sidenav class="fixed" [fixed]="false">



        <links class="bottom-fix">
            <div>
                <div class="breadcrumbs breadcrumb-dn mr-auto mt-3 p-relative">
                    <div>
                        <a href="/" class="m-0 p-0"><img src="../../../assets/img/trackmoney.png" class="img-fluid"></a>
                    </div>
                </div>
                <!--Search Form-->
                <!-- <li>
                <form class="search-form" role="search">
                    <div class="form-group md-form waves-light" mdbWavesEffect>
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                </form>
            </li> -->
                <!--/.Search Form-->
                <!-- Side navigation links -->
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <mdb-squeezebox [multiple]="false" aria-multiselectable="false">

                            <mdb-item *ngIf='admin || super || user || merchant' class="no-collase">
                                <mdb-item-head routerLinkActive="active" routerLink="dashboard"> Dashboard
                                </mdb-item-head>
                                <mdb-item-body>

                                </mdb-item-body>
                            </mdb-item>
                            <mdb-item *ngIf='admin || super || isSuperMerchant' class="no-collase">
                                <mdb-item-head routerLinkActive="active" routerLink="onboarding"> Onboard Merchant
                                </mdb-item-head>
                                <mdb-item-body>

                                </mdb-item-body>
                            </mdb-item>


                            <mdb-item *ngIf='user ||admin || super || isSuperMerchant'>
                                <mdb-item-head [ngClass]="{'active':(tranLink || {}).isActive || (tranLink2 || {}).isActive}">
                                   Transactions
                                </mdb-item-head>
                                <mdb-item-body>
                                    <ul>
                                        <li>
                                            <a #tranLink="routerLinkActive" routerLink="transaction/history"
                                                routerLinkActive="active">Transaction History</a>
                                        </li>
                                        <li>
                                            <a #tranLink2="routerLinkActive" routerLink="transaction/summary"
                                                routerLinkActive="active">Merchant Summary</a>
                                            
                                        </li>
                                    </ul>
                                </mdb-item-body>
                            </mdb-item>

                            <mdb-item *ngIf='admin || super || isSuperMerchant' class="no-collase">
                                <mdb-item-head routerLinkActive="active" routerLink="settlements/upload-merchants"> Upload Settled Merchants
                                </mdb-item-head>
                                <mdb-item-body>

                                </mdb-item-body>
                            </mdb-item>


                            <mdb-item *ngIf='admin || super || isSuperMerchant' class="no-collase">
                                <mdb-item-head routerLinkActive="active" routerLink="configuration">Configuration
                                </mdb-item-head>
                                <mdb-item-body>

                                </mdb-item-body>
                            </mdb-item>


                        </mdb-squeezebox>
                    </ul>
                </li>
                <div>

                </div>
            </div>
            <!--/. Side navigation links -->

            <!--Social-->

            <div class="breadcrumbs breadcrumb-dn mr-auto fixed-bottom mt-5 p-relative">
                <div>
                    <p class="foot-p">Powered By</p>
                    <!-- uba-light -->
                    <img src="../../../assets/img/itex2.png" class="img-fluid new-width">
                </div>
            </div>

            <!--/Social-->

        </links>

    </mdb-sidenav>
    <!--/. Sidebar navigation -->



    <!-- Navbar -->
    <mdb-navbar SideClass="navbar double-nav fixed-top" [containerInside]="false">
        <navlinks class="navbar-container navbar-style px-4">
            <!-- SideNav slide-out button -->
            <div class="bar-style">
                <a (click)="sidenav.show()" class="button-collapse">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <!--/. SideNav slide-out button -->
        </navlinks>
        <!-- <logo>
            <div class="breadcrumbs breadcrumb-dn mr-auto">
                <img src="../../../assets/img/payvue.JPG" height="50" width="50" class="img-fluid flex-center"> --
                <p><strong>TrackMoney</strong></p>
            </div>
        </logo> -->
        <navlinks class="nav-style">
            <div class="logo-style">
                <!-- uba-red2 -->
                    <a href="/" class="m-0 p-0"><img src="../../../assets/img/tm.png" class="img-fluid new-width"></a>
            </div>
            <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
                <li class="nav-item dropdown btn-group" dropdown>
                    <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                        <i class="fa fa-user"></i> Account
                    </a>
                    <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                        <a *ngIf='super' routerLink="/auth/register" class="dropdown-item">Create User</a>
                        <a *ngIf='super' routerLink="/auth/users" class="dropdown-item">Manage Users</a>
                        <a routerLink="/auth/new-password" class="dropdown-item">Change Password</a>
                        <a (click)="signOut()" class="dropdown-item">Log Out</a>
                    </div>
                </li>
            </ul>

        </navlinks>

    </mdb-navbar>
    <!--/. Navbar -->

</header>
<!--/.Double navigation-->