<div class="col-lg-12">
<div class="row">
  <div class="ml-2 px-4 pb-4">
    <h6 class="header-style">Transaction History</h6>
      <!-- <button [disabled]="!tableData.length" type="button" class="btn btn-uc btn-sm waves-light"
          (click)="exportExcel()" mdbWavesEffect>Export
      </button> -->
  </div>
</div>

<div [ngClass]="{'px-4':show}" class="table-responsive">
    <table class="table table-borderless">
        <tr class="row mx-0 no-change">
            <td class="col-lg-7 col-sm-10">
                <div class="md-form special-div m-0">
                    <!-- <mdb-icon fas icon="search" class="prefix"> </mdb-icon> -->
                    <img src="../../../assets/img/Shape.svg" class="prefix py-2 pl-3">
                    <input class="form-control my-0 py-0 special-border" (keyup)="checkKey($event)" name="search" ngDefaultControl [(ngModel)]="search"
                     type="text" placeholder="Search">
                </div>
              
            </td>
            <!-- <td *ngIf="!date2" class="col-lg-2 col-sm-2 mt-3">
                <p class="noWrap">Source:</p>
                <select [(ngModel)]="source" (change)="getTransactionHistory();"
                    class="browser-default custom-select d-block">
                    <option value="">View All</option>
                    <option value="EPMS">EPMS</option>
                    <option value="POSVAS">POSVAS</option>
                </select>
            </td> -->
            <td class="col-lg-1 col-sm-2 col-6">
                <select *ngIf="show" ngDefaultControl [(ngModel)]='status'
                    (change)="setPage(); getTransactionHistory();"
                    class="browser-default custom-select d-block">
                    <option disabled=true value=undefined>Status</option>
                    <option value="">View All</option>
                    <option value="successful">Approved</option>
                    <option value="failed">Declined</option>
                </select>

                <select *ngIf="!show" ngDefaultControl [(ngModel)]='status'
                    (change)="setPage(); getTransactionHistory();" class="browser-default custom-select d-block">
                    <option disabled=true value=undefined>Status</option>
                    <option value="">View All</option>
                    <option value="successful">Approved</option>
                    <option value="failed">Declined</option>
                </select>
            </td>

            <td class="col-lg-1 col-sm-2">
                <select *ngIf="show" (change)="setLimit($event); getTransactionHistory();"
                    class="browser-default custom-select d-block">
                    <option disabled=true value="">No of Records</option>
                    <option value="20">20</option>
                    <option value="50" selected>50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                </select>

                <select *ngIf="!show" (change)="setLimit($event); getTransactionHistory();" class="browser-default custom-select d-block">
                    <option disabled=true value="">No of Records</option>
                    <option value="20">20</option>
                    <option value="50" selected>50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                </select>
            </td>

            <td *ngIf="!date2" class="col-lg-1 col-sm-4 col-6">
                <input type="date" [(ngModel)]="from" (blur)="getTransactionHistory()" [placeholder]="'From:'" id="input"
                    class="form-control px-0" ngDefaultControl>
            </td>
            <td *ngIf="!date2" class="col-lg-1 col-sm-4 col-6">
                <input type="date" [(ngModel)]="to" (blur)="getTransactionHistory()" [placeholder]="'To:'" id="input"
                    class="form-control px-0" ngDefaultControl>
            </td>

            <td class="col-lg-1 col-sm-2">
                    <button [disabled]="!tableData.length" type="button" class="btn btn-ud btn-sm waves-light"
                (click)="exportExcel()" mdbWavesEffect>Export
            </button>
                   
                </td>
        </tr>
    </table>
</div>


  <!-- <div *ngIf="show && (status != 'successful')" [ngClass]="{'px-4':show}">
      <h5 *ngIf="isFailureData == true" class="mb-2"><strong>Top Reasons For Failure</strong></h5>
      <div class="row">
          <div class="width-min mb-2" *ngFor="let row of failureData;">
              <div [ngClass]="{ 'card card-cascade narrower mt-0': true, 'z-depth-0': !shadows}"
                  class="cascading-admin-card px-3 need-border">
                  <div class="admin-up">
                      <div class="data pb-2">
                          <p *ngIf="row.message != null" class="new-head no-change noWrap">{{row.message}}</p>
                          <p *ngIf="row.message == null" class="new-head no-change noWrap">Null</p>
                          <p *ngIf="isFailureData == true" class="new-font">
                              <strong>{{row.count | number : '1.0'}}</strong>
                          </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
  <div [ngClass]="{'px-4':show}">

      <div class="table-wrapper" [ngClass]="{'card card-cascade narrower mt-0': true, 'z-depth-0': !shadows}">
          <!--Table-->
          <table class="table table-striped table-hover mb-0 border-space">

              <!--Table head-->
              <thead>
                <tr>
                    <th class="th-md">
                        <a >S/N
                        </a>
                    </th>
                    <th class="th-md">
                        <a (click)="sortBy('supermerchant_name')">Super Merchant
                            <i class="fa fa-sort ml-1"></i>
                        </a>
                    </th>
                    <th class="th-md">
                        <a (click)="sortBy('supermerchantcode')">Merchant ID
                            <i class="fa fa-sort ml-1"></i>
                        </a>
                    </th>
                    <th class="th-md">
                        <a (click)="sortBy('transactionID')">Transaction ID
                            <i class="fa fa-sort ml-1"></i>
                        </a>
                    </th>
                    <th class="th-md">
                        <a (click)="sortBy('cardholdername')">Name
                            <i class="fa fa-sort ml-1"></i>
                        </a>
                    </th>
                    <th class="th-md">
                        <a (click)="sortBy('status')">Status
                            <i class="fa fa-sort ml-1"></i>
                        </a>
                    </th>
                   
                    <th class="th-md text-center">
                        <a (click)="sortBy('cardpan')">Card Pan
                            <i class="fa fa-sort ml-1"></i>
                        </a>
                    </th>
                    <th class="th-md">
                        <a (click)="sortBy('totaldeliveryfee')">Total Delivery Fee ₦
                            <i class="fa fa-sort ml-1"></i>
                        </a>
                    </th>
                   
                    <th class="th-md">
                        <a (click)="sortBy('totalamount')">Total Amount ₦
                            <i class="fa fa-sort ml-1"></i>
                        </a>
                    </th>
                    <th class="th-md">
                        <a (click)="sortBy('initiatedTime')">Initiated Time
                            <i class="fa fa-sort ml-1"></i>
                        </a>
                    </th>

                </tr>
            </thead>
              <!--Table head-->

              <!--Table body-->
              <tbody *ngFor="let row of tableData;let i = index;">
                <tr
                [ngClass]="{'error-color':(row.status == 'FAILED' && row.status)}">

                <td>{{serial1 + i}}</td>
                <td *ngIf="!merchantU && row.paymentdetails.deliverysettlement"><a href="javascript:;"
                        [routerLink]="['/merchant', row.merchant_id]">{{ row.paymentdetails.deliverysettlement.supermerchant_name }}</a>
                </td>
                <td *ngIf="merchantU && row.paymentdetails.deliverysettlement">{{ row.paymentdetails.deliverysettlement.supermerchant_name }}</td>
                <td *ngIf="!row.paymentdetails.deliverysettlement">{{ row.paymentdetails.supermerchant_name || 'N/A' }}</td>
                <td>{{row.paymentdetails.supermerchantcode}}</td>

                <td>{{row.transactionID}}</td>
                <td>{{row.cardholdername || 'N/A'}}</td>
                <td [ngClass]="{'text-success':row.status == 'APPROVED', 'text-warning':row.status == 'PENDING', 'text-danger':row.status == 'FAILED','noWrap' : true}">{{row.status}}</td>
                <td class="text-center">{{row.cardpan || 'N/A'}}</td>

                
                <td>{{'₦' + (row.paymentdetails.totaldeliveryfee | number : '1.2-2')}}</td>
                

                <td>{{'₦' + (row.paymentdetails.totalamount | number : '1.2-2')}}</td>


                <td>{{row.initiatedTime | date : 'yyyy-MM-dd HH:mm:ss' }}</td>

            </tr>
              </tbody>

              <!--Table body-->
              <tbody *ngIf="isData == false; else gettingTrans">
                  <tr >
                      <td colspan="14" style="text-align:center;padding: 5% 20%">
                          <strong>No Data Available</strong>
                      </td>
                  </tr>
              </tbody>
              <ng-template #gettingTrans>
                  <tbody *ngIf="isData == undefined">
                      <tr >
                          <td colspan="14" style="text-align:center;padding: 5% 20%">
                              <mdb-spinner spinnerColor="blue"></mdb-spinner>
                          </td>
                      </tr>
                  </tbody>
              </ng-template>

          </table>
          <!--Table-->
      </div>

      <hr class="my-0">

      

      <app-pagination *ngIf="page" [event]="'TransHistoryPage'" [page]=page></app-pagination>
  </div>

</div>