<div class="row">
  <div class="ml-2">
      <button [disabled]="!reconciliationSummaryRecords.length" type="button" class="btn btn-uc btn-sm waves-light"
      (click)="exportExcel()" mdbWavesEffect>Export</button>
  </div>
</div>

<div [ngClass]="{
  'card card-cascade narrower': true,
  'z-depth-0': !shadows,
  'mt-0': true
}">

<div class="table-responsive px-4 pt-3">
  <table class="table table-borderless table2">
    <tr class="row mx-0 no-change">
        <td class="col-lg-2 col-sm-4 datepickers">
            <p>From:</p>
            <div class="md-form">
              <mdb-date-picker ngDefaultControl [(ngModel)]="from" [placeholder]="'yyyy-mm-dd'" required>
              </mdb-date-picker>
            </div>
          </td>
      <td class="col-lg-1 col-sm-2">
        <button (click)="getReconciliationSummary(); setPage(1);" class="btn btn-uc waves-light btn-sm mt-1-2"
          mdbWavesEffect>Search</button>
      </td>
    </tr>
  </table>
</div>

<div class="px-4">
  <div class="table-wrapper">
    <!--Table-->
    <table class="table table-striped table-hover mb-0 border-space ">
      <!--Table head-->
      <thead>
        <tr>
          <th class="th-md">S/N</th>
          <th class="th-md">
            <a (click)="sortBy('transaction_value')">Banks
            <i class="fa fa-sort ml-1"></i>
          </a></th>
          <th class="th-md">
            <a (click)="sortBy('transaction_value')">Total Transactions (₦)
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>
          <th class="th-md">
            <a (click)="sortBy('settlement_value')">Total Settlements (₦)
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>
          <th class="th-md">
            <a (click)="sortBy('differential')">Under/Over Settlements (₦)
              <i class="fa fa-sort ml-1"></i>
            </a>
          </th>
          <!-- <th class="th-md">Action</th> -->
        </tr>
      </thead>
      <!--Table head-->

      <!--Table body-->
      <tbody *ngIf="reconciliationSummaryRecords.length > 0">
        <tr  *ngFor="let row of reconciliationSummaryRecords; let i = index">
          <td>{{ serial + i }}</td>
          
          <td>{{ row.bank }}</td>
          <td>{{ row.transaction_value | number: "1.2-2" }}</td>
          <td>{{ row.settlement_value | number: "1.2-2" }}</td>
          <td [ngClass]="{'text-danger':row.differential < 0, 'text-success':row.differential > 0}">{{row.differential | number: "1.2-2"}}</td>
          <!-- <td>
              <button class="btn btn-elegant waves-light btn-sm"
                (click)="merchant = row.merchant_id; basicModal.show(); name = row.merchant_name;"
                mdbWavesEffect>View</button>
            </td> -->
        </tr>
      </tbody>
      <!--Table body-->
      <tbody *ngIf="isData == false; else gettingData">
        <tr >
          <td colspan="10" style="text-align:center;padding: 5% 20%">
            <strong>No Data Available</strong>
          </td>
        </tr>
      </tbody>
      <ng-template #gettingData>
        <tbody *ngIf="isData == undefined">
          <tr >
            <td colspan="10" style="text-align:center;padding: 5% 20%">
              <mdb-spinner spinnerColor="blue"></mdb-spinner>
            </td>
          </tr>
        </tbody>
      </ng-template>
    </table>
    <!--Table-->
  </div>

  <hr class="mb-4 mt-0" />
</div>
</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" style=" overflow: auto" tabindex="-1" role="dialog"
  aria-labelledby="myBasicModalLabel" aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-dialog-scrollable modal-fluid" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">Reconciliation Transactions</h4>
        <button type="button" class="close unset-close" aria-label="Close" data-dismiss="modal"
          (click)="basicModal.hide();  merchant = '';" mdbWavesEffect>x</button>
      </div>
      <div class="modal-body">
          <app-reconciliation [from]='from' [to]='from' [show]='false'>
          </app-reconciliation>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-uc btn-sm waves-light" aria-label="Close" data-dismiss="modal"
          (click)="basicModal.hide(); merchant = '';" mdbWavesEffect>Close</button>
      </div>
    </div>
  </div>
</div>