<section class="col-lg-12 col-md-12">
  <div class="row">
		<div class="ml-2 px-4 pb-4">
		  <h6 class="header-style">New Password</h6>
			<!-- <button [disabled]="!tableData.length" type="button" class="btn btn-uc btn-sm waves-light"
				(click)="exportExcel()" mdbWavesEffect>Export
			</button> -->
		</div>
	  </div>
    <!--Body-->
    <div class="card card-cascade narrower pb-3 mx-4">
      <div class="card-body card-body-cascade pb-0">
          <div class="row pt-4">
            <div class="col-lg-6">
              <p class="new-p-style">New Password</p>
              <input ngDefaultControl [(ngModel)]="password" type="password" id="orangeForm-pass" class="form-control no-change">
              <span class="text-danger">{{errors.password}} {{errors.length}}</span>
            </div>

            <div class="col-lg-6">
              <p class="new-p-style">Confrim Password</p>
                <input ngDefaultControl [(ngModel)]="co_password" type="password" id="orangeForm-pass_co" class="form-control no-change">
                <span class="text-danger">{{errors.co_pass}}</span>
              </div>
          </div>

            <div class="text-center pt-4">
              <button class="btn btn-sm btn-ud normal-width waves-effect waves-light" mdbWavesEffect (click)="sendReset()">
                Reset
                <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
              </button>
        </div>
      </div>
    </div>
  
  </section>