<section class="col-lg-12 col-md-12">
    <!--Body-->
    <div class="card card-cascade narrower pb-3">
      <div class="card-body card-body-cascade pb-0">
            <div class="md-form">
              <input ngDefaultControl [(ngModel)]="password" type="password" id="orangeForm-pass" class="form-control" placeholder="New password">
              <span class="text-danger">{{errors.password}} {{errors.length}}</span>
            </div>

            <div class="md-form">
                <input ngDefaultControl [(ngModel)]="co_password" type="password" id="orangeForm-pass_co" class="form-control" placeholder="Confirm password">
                <span class="text-danger">{{errors.co_pass}}</span>
              </div>

            <div class="text-center">
              <button class="btn blue-gradient btn-md waves-effect waves-light" mdbWavesEffect (click)="sendReset()">
                Reset
                <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
              </button>
        </div>
      </div>
    </div>
  
  </section>