$introBg: "http://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img%20(11).jpg";

.intro-2 {
    background: url($introBg) no-repeat center center;
    background-size: cover;
}

.card {
    background-color: #ffff;
    margin-bottom: 0;
    padding: 0.9rem;
    box-shadow: unset !important
}

.md-form label {
    color: #ffffff;
}

.intro {
    min-height: 100vh;
    position: relative;
}

.rgba-stylish-strong .mask {
    background-color: rgba(62, 69, 81, .7);
}

.md-form .form-control {
    padding: 0.375rem 0.75rem !important;
}

.form-control.no-change:not(disabled), .custom-select.no-change:not(disabled) {
    background-color: #f8f9fa !important;
  }

  .form-control.no-change:disabled {
    background-color: #e9ecef !important;
    opacity: 1;
  }